@import "../Vars.scss";

.header {
    align-items: center;
    position: fixed;
    display: flex;
    height: 100px;
    top: 0px;
    width: 100%;
    background-color: $primary;
}

.header__container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.header__img {
    width: 120px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu__link a {
    padding: 16px;
    margin-right: 15px;
}
  
.header__menu a {
    color: $white;
    text-decoration: none;
}
  