@import "../Vars.scss";

.hero {
    margin-top: 180px;
}

.hero__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.hero__side {
    flex: 1;
}

.hero__cta {
    display: flex;
}

.hero__cta a {
    color: $white;
    font-weight: bold;
    text-decoration: none;
}

.hero__side h5 {
    color: $darkgrey;
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 19px;
    line-height: 27px;
}

.hero__rightTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__rightTop .img {
    height: 320px;
    border-radius: 10px;
    transform: perspective(15cm) rotateY(-15deg) rotateX(5deg) rotateZ(2deg);
    z-index: -1;
    box-shadow: 5px 5px 16px rgba($color: $white, $alpha: .2);
}

@media only screen and (max-width: 840px) {
    .hero {
        margin-top: 120px;
    }

    .hero__container {
        flex-direction: column-reverse;
    }

    .hero__rightTop .img {
        height: 240px;
    }

    .hero__leftBottom {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .hero {
        margin-top: 100px;
    }

    .hero__rightTop .img {
        height: 200px;
    }

    .hero__leftBottom {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 370px) {
    .hero {
        margin-top: 80px;
    }

    .hero__rightTop .img {
        height: 160px;
    }

    .hero__side h5 {
        font-size: 17px;
        line-height: 24px;
    }
}