@import "../Vars.scss";

.textButton {
    cursor: pointer;
};

.textButtonText {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $link;
}

.textButtonText a {
    color: $link;
    text-decoration: none;
}