@font-face {
    font-family: "GothamBold";
    src: local("GothamBold"),
    url("./assets/fonts/Gotham-Bold.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "GothamBook";
    src: local("GothamBook"),
    url("./assets/fonts/Gotham-Book.woff") format("woff");
    font-weight: normal;
}