@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

// Fonts
$font: 'Lato', sans-serif;

// Colors
$primary: #23214C;
$accent: #61BC9E;
$white: #ffffff;
$link: #49A2D7;
$selected: #4B5BA6;
$red: #D84D4D;