@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

// Fonts
$font: 'Lato', sans-serif;

// Colors
$primary: #191735;
$lightprimary: rgba(255, 255, 255, .1);
$accent: #61BC9E;
$white: #ffffff;
$darkgrey: rgba(255, 255, 255, .7);
$lightgrey: rgba(255, 255, 255, .1);
$link: #49A2D7;
$selected: #4B5BA6;
$red: #D84D4D;